.logged-in-navbar{
    width: 100px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: sticky;
    top: 0;
    justify-content: space-around;
    box-shadow: 0px 0px 20px rgba(165, 136, 93, 0.3); 
    background-color: rgba(165, 136, 93, 0.3);
}

.logged-in-navbar button{
    display: flex;
    border: 2px solid rgba(254, 209, 104, 1);
    height: 50px;
    width: 80px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px;
    font-size: 20px;
    background-color: rgba(32, 80, 67, 0.8);
    color: rgba(254, 209, 104, 1);
    transition: .2s;
    margin: auto;
}

.logged-in-navbar button:hover{
    background-color: rgba(254,209,104,0.8);
    border-color: rgb(32, 80, 67);
    color: rgb(32, 80, 67);
}