.books-main-section-container{
    min-width: 600px;
    text-align: center;
    padding-top: 60px;
    /* border-left: 1px solid #9aa676;
    border-right: 1px solid #9aa676; */
    background: #aab48c;
    /* box-shadow: 0px 0px 20px #9aa676; */
    box-shadow: 0px 0px 20px #aab48c;
}

.books-main-section-container h2{
    font-size: 30px;
    font-family: fantasy;
    color: #685126;
    margin-bottom: 20px;
    
}

.temporary{
    height: 100vh;
    width: 200px;
    /* border-left: 1px solid #9aa676; */
    box-shadow: 0px 0px 20px #aab48c;
    background: #aab48c;
}

.all-books-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.individual-book{
    height: 140px;
    width: 100px;
    margin: auto;
    background: blue;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    text-align: center;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.book-title-link{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}