.books-main-section-container{
    min-width: 600px;
    width: 60%;
    text-align: center;
    padding-top: 60px;
    background-color: rgba(165,136,93,0.3); 
    box-shadow: 0px 0px 20px rgba(165, 136, 93, 0.3);
}

.books-main-section-container h2{
    font-size: 30px;
    font-family: fantasy;
    color: rgba(104, 81, 38, 1);
    margin-bottom: 20px;
    
}

.temporary{
    height: 100vh;
    width: 200px;
    box-shadow: 0px 0px 20px rgba(165, 136, 93, 0.3);
    background-color: rgba(165, 136, 93, 0.3); /*dark brown*/
}

.all-books-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}

.individual-book{
    height: 170px;
    width: 130px;
    margin: auto;
    background: rgb(85, 107, 47);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    text-align: center;
    font-size: 20px;
    display: flex;
    transition: .3s;
    flex-direction: column;
    justify-content: end;
    box-shadow: 1px 1px 1px 0px rgb(255 255 255), 2px 2px 1px 0px rgb(0 0 0), 3px 3px 1px 0px rgb(255 255 255), 4px 4px 1px 0px rgb(0 0 0), 4px 4px 3px 1px rgb(0 0 0);
}

.individual-book a:hover{
    /* background: rgba(89,110,50,1); */
    color: rgba(254, 209, 104, 1);
    transition: .7s;
}
.add-book{
    height: 170px;
    width: 130px;
    border: 3px solid rgba(89, 110, 50, 1);
    border-radius: 15px;
    text-decoration: none;
    color: rgba(89,110,50,1);
    margin: auto;
    font-size: 100px;
    transition: .2s;
    line-height: 1.5em;
    box-shadow: 1px 1px 10px 2px rgb(0 0 0 / 50%);
}
.add-book:hover {
    border-color: rgba(254, 209, 104, 1);
    color: rgba(254, 209, 104, 1);
    box-shadow: 1px 1px 10px 2px;
}

.book-buttons-container{
    align-self: end;
}

.book-buttons-container button{
    border: none;
    margin-left: 5px;
    background-color: transparent;
    color: rgba(255,255,255,1);
}

#edit-button svg:hover, #delete-button svg:hover {
    transition: .2s;
    background-color: transparent;
    border-color: rgba(254, 209, 104, 1);
    color: rgba(254, 209, 104, 1);
    text-shadow: 1px 1px 10px 2px;
    cursor: pointer;
}

.book-buttons-container button:last-child{
    border-bottom-right-radius: 5px;
}

.book-title-link{
    display: flex;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: rgba(255,255,255,1);
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
}