.books-main-section-container{
    min-width: 600px;
    text-align: center;
    padding-top: 60px;
    background: #aab48c;
    box-shadow: 0px 0px 20px #aab48c;
}

.books-main-section-container h2{
    font-size: 30px;
    font-family: fantasy;
    color: #685126;
    margin-bottom: 20px;
    
}

.temporary{
    height: 100vh;
    width: 200px;
    box-shadow: 0px 0px 20px #aab48c;
    background: #aab48c;
}

.all-books-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}

.individual-book{
    height: 140px;
    width: 100px;
    margin: auto;
    background: darkolivegreen;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    text-align: center;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    box-shadow: 1px 1px 1px 0px rgb(255 255 255), 2px 2px 1px 0px rgb(0 0 0), 3px 3px 1px 0px rgb(255 255 255), 4px 4px 1px 0px rgb(0 0 0), 4px 4px 3px 1px rgb(0 0 0);
    
}

.book-buttons-container{
    align-self: end;
}

.book-buttons-container button{
    border: none;
    margin-left: 5px;
    background-color: transparent;
    color: white;
}

.book-buttons-container button:last-child{
    border-bottom-right-radius: 5px;
}

.book-title-link{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}