.writing-page-main-container{
    display: flex;
    justify-content: space-between;
}

.left-container-temp{
    height: 100vh;
    width: 100px;
}

.middle-container-temp {
    padding-top: 30px;
    /* height: 100vh; */
    width: 70%;
}

.right-container-temp {
    height: 100vh;
    min-width: 320px;
}

#writing-piece{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

#writing-piece div:first-child{
    border: none;
    border-bottom: none;
    box-shadow: 0px 4px 13px -8px #888;
   
}
.ql-toolbar{
    text-align: center;
}
#back-to-profile button svg{
    height: 30px;
    width: 30px;
    margin-top: 20px;
    margin-left: 20px;
    color: rgb(32, 80, 67);
    transition: .3s;
    cursor: pointer;
}

#back-to-profile button svg:hover{
    color: rgba(254, 209, 104, 1);
}

#back-to-profile button{
    border: none;
    background: transparent;
}

.save-book-writing{
    display: flex;
    border: 2px solid rgb(32, 80, 67);
    height: 30px;
    width: 80px;
    justify-content: center;
    border-radius: 30px;
    font-size: 20px;
    color: rgb(32, 80, 67);
    transition: .3s;
    cursor: pointer;
    margin: auto;
    margin-top: 20px;
}

.save-book-writing:hover{
    background: rgb(32, 80, 67);
    color: rgba(235, 226, 217, 1);
}

.ql-container.ql-snow {
    border: none !important;
}

.ql-editor p {
    font-family: sans-serif;
}

.ql-editor *::selection, .ql-editor > *::selection, .ql-editor h1::selection, .ql-editor h2::selection, .ql-editor h3::selection,
    .ql-editor h4::selection, .ql-editor h5::selection, .ql-editor h6::selection,::selection {
    background-color: rgb(255, 228, 164);
}

.ql-editor strong {
    font-weight: 700;
}

.ql-editor em {
    font-style: italic;
}