.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(32, 80, 67, 0.7);;
  z-index: 10;
}
  
.modal-child {
  background-color: rgba(254, 209, 104, 0.8);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 20px;
}

.modal__form-container {
  width: 100%;
  margin: 0rem 2rem 0rem 2rem;
}

.modal__btn-close {
  position: fixed;
  right: 5px;
  top: 5px;
}

.modal__header {
  width: 100%;
  font-family: cursive;
  font-size: 40px;
  color: rgb(85, 107, 47);
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center;
  cursor: default;
}

  .modal__form-container {
    display: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 30px;
  }



  #modal__btn-submit-id {
    display: flex;
    justify-content: center;
  }

  .session-input-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;

  }


  .session-input-div p {
      font-family: cursive;
      font-size: 20px;
      color: #636160;
      margin-top: 0px;
      margin-bottom: 10px;
      cursor: default;
      
  }

  .session-input-div input {
    display: flex;
    width: 100%;
    height: 35px;
    border: 0;
    font-size: 20px;
    border-radius: 10px;
    background: rgba(204, 177, 136, 1);
  }

  .session-input-div input:focus{
    outline: none;
  }


  .login-form-container {
    display: flex;
  }

  .modal-session-submit-button {
    display: flex;
    justify-content: center;
    gap: 5px;
    
  }

  .modal-session-submit-button input {
    padding: 15px;
    background-color: rgb(32, 80, 67);
    border: 0;
    border-radius: 5px;
    font-family: cursive;
    font-size: 20px;
    color: rgba(237, 217, 171, 1);
    cursor: pointer;
    transition: .3s;
}
.modal-session-submit-button input:hover, .modal-session-submit-button a:hover{
  background-color: rgb(45, 90, 80);
}

.modal-session-submit-button a {
  padding: 15px;
  background-color: rgb(32, 80, 67);
  border: 0;
  border-radius: 5px;
  font-family: cursive;
  font-size: 20px;
  color: rgba(237, 217, 171, 1);
  text-decoration: none;
  padding-top: 16px;
  display: flex;
  align-items: center;
  transition: .3s;
}


.modal__other-form-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 10px;
    color: rgb(129, 129, 129);
    font-size: 18px;
    font-family: cursive;
    align-items: center;
}
/* rgba(237, 217, 171, 1) */
.modal__btn-other-form {
    color: #017033b7;
    text-decoration: none;
}
.modal__btn-other-form:hover{
  color: rgb(32, 80, 67);
}

.session-errors {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(129, 129, 129);
}

.modal__btn-close svg{
  color: rgb(66, 66, 66) !important;
}

.modal__account-msg{
  color: rgb(66, 66, 66);
}