.character-form {
    font-family: fantasy, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.character-form input {
    margin-left: 2rem;
    font-family: monospace;
}

input[type="radio"] {
    margin-left: 3.3rem;
}

#name:focus, #age:focus, #height:focus, #weight:focus, #species:focus, #description:focus {
    outline: none;
}

#name, #age, #height, #weight, #species, #description {
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    padding: 5px;
    margin-bottom: 10px;
}

#species {
    margin-left: 1.45rem;
}

#name {
    margin-left: 2.5rem;
}

#height, #weight {
    width: 50px;
    margin-right: 4px;
}

#age  {
    width: 50px;
    margin-left: 3.1rem;
}

#description {
    width: 500px;
    height: 150px;
}

#label {
    display: block;
    margin-bottom: 5px;
    line-height: 21px;
}

#sex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

#name, #species {
    width: 60%;
}

/* Using session buttons CSS
.character-create-button {
    padding: 15px;
    background-color: rgb(32, 80, 67);
    border: 0;
    border-radius: 5px;
    font-family: cursive;
    font-size: 20px;
    color: rgba(237, 217, 171, 1);
    text-decoration: none;
    padding-top: 16px;
    display: flex;
    align-items: center;
    transition: .3s;
}

.character-create-button:hover {
    background-color: rgb(45, 90, 80);
} */


.create-title {
    font-family: fantasy;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(85, 107, 47);
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}