.add-char-icon {
    outline: none;
    text-decoration: none;
    background: rgba(255, 255, 255, 1);
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    height: 25px;
    width: 169px;
    border-radius: 10px;
    border: 1px solid rgba(235, 226, 217, 1);
    box-shadow: 0px 0px 10px 0px lightgrey;
    margin: 15px auto;
    padding: 6px;
    transition: .3s;
}

.add-char-icon:hover{
    border-color: rgb(32, 80, 67);
}


.add-char-icon h3{
    text-transform: uppercase;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: lighter;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.add-chapter{
    width: 80%;
    height: 100%;
    margin: 20px auto;
    font-size: 20px;
    border-radius: 5px;
    background: white;
}
.characters-container{
    text-align: left;
    height: 200px;
    width: 250px;
    overflow: auto;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    margin: 15px auto;
    background: white;
}

.character-show{
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 200;
    margin: 5px 2px;
    border: 1px solid darkgray;
    border-radius: 10px;
    transition: 0.8s;
    max-height: 26px;
    overflow: hidden;
}

.character-show p{
    margin-left: 10px;
    margin-top: 5px;
}
.char-name{
    justify-content: space-between;
}
.char-name button{
    background-color: transparent;
    border: none;
    padding-top: 5px;
}

.char-name div p{
    display: inline-block;
}

.char-title{
    font-weight: 500;
}

.char{
    display: flex;
    margin: 2px 0px;
    max-height: auto;
}

.open-char{

}

.closed-char{
    max-height: 26px;
    overflow: hidden;
}