.chapter-modal-background{
    min-height: 100vh;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(32, 80, 67, 0.8)
}

.chapter-form{
    position: absolute;
    left: 50%;
    top: 50%;
    height: 250px;
    width: 400px;
    transform: translateX(-50%) translateY(-50%);
    background-color: rgba(245, 244, 239, 1);
    border: 1px solid rgba(245, 244, 239, 1);
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}

.chapter-form-header{
    text-transform: capitalize;
    font-size: 20px;
    font-family: fantasy;
    margin-top: 15px;
}

.chapter-input{
    margin: 15px auto;
    width: 90%;
    height: 40px;
    border-radius: 10px;
    border: none;
    padding: 5px;
    font-size: 20px;
    background: rgba(204, 177, 136, 1);
}

.chapter-form-button{
    border-radius: 10px;
    border: none;
    padding: 5px;
    font-size: 20px;
    width: 90%;
    height: 40px;
    background: rgb(32, 80, 67) !important;
    font-family: cursive;
    color: rgba(237, 217, 171, 1);
    cursor: pointer;
}